.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Vercel
/.vercel/

# Env
.env
.env.*
!.env.example

# Misc
tmp

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

public/mock*

# Test
coverage/